#brand {
  font-weight: bold;
  color: #333333;
}

#user-links {
  margin: 3px 0 0;

  a {
    padding: 5px;
    height: 24px;
    line-height: 24px;
  }
  .name {
    font-weight: bold;

    img {
      margin: 0 5px 0 0;
      @include radius(3px, 3px);
      @include box-shadow(0px, 1px, 0px, 0px, rgba(255,255,255,1))
    }
  }
}

