#top10{
  .header{
    padding: 0 10px 0 5px;
  }

  ul{
    list-style: none;

    margin-left: 0;
    margin-bottom: 0;
  }

  .row{
    margin-left: 0px;
  }
}
.hottest-item{
  @include item-style;
  padding: 1px 5px 1px 5px;

  img{
    margin-top: 3px;
  }
}