/*------------------------------------*\
  $BASE
\*------------------------------------*/


h1, h2, h3, h4, h5, h6 {
  font-family: $header-face;
}

body {
  background: #f0f0f0 inline-image("bg.gif") repeat;
  color: #4c4c4c;
}

a {
  text-decoration: none;
  color: inherit;
}

.body-text {
  p:last-child {
    margin-bottom: 0;
  }

  a {
    color: $blue;

    &:hover,
    &:active {
      color: #fff;
      background: $blue;
    }
  }
}

.avatar {
  display: inline-block;
  line-height: 1;

  img {
    display: block;
    @include border-radius;
  }
}

.fade {
  color: #b3b3b3;

  a {
    color: #7c7a7f;

    &:hover {
      text-decoration: underline;
    }
  }
}

.meta-item {
  &:after {
    content: '·';
    padding: 0 em(5);
  }

  &:last-child:after {
    content: '';
  }
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.pagination {
  @extend .delta;
  @extend .body-text;
  @extend .soft-half;
  @extend .cf;

  .disabled {
    display: none;
  }
}

.next_page {
  @extend .float--right;
}

