html {
  font: 1rem/1.5 $base-face;
  color: $base-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-face;
}

body {
  background: $background;
  padding: 4.5rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.username {
  color: inherit!important;
  font-weight: bold;
  font-size: 1rem;

  &:hover {
    border-bottom: .07em solid rgba(#000, 0.1);
  }
}

.container { @include outer-container; }
.main { @include span-columns(8); }

