/**
 * Force wrap long urls and text
 * http://perishablepress.com/wrapping-content/
 */

@mixin force-wrap {
  white-space:     pre;          /* CSS 2.0 */
  white-space:     pre-wrap;     /* CSS 2.1 */
  white-space:     pre-line;     /* CSS 3.0 */
  white-space:     -pre-wrap;    /* Opera 4-6 */
  white-space:   -o-pre-wrap;    /* Opera 7 */
  white-space: -moz-pre-wrap;    /* Mozilla */
  white-space:  -hp-pre-wrap;    /* HP Printers */
  word-wrap:      break-word;    /* IE 5+ */
}

/**
 * Insert a 3rem vertical line after the element
 */
@mixin verticle-line {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 1.5 * $base-spacing-unit;
    width: 0;
    height: 3rem;
    border-left: em(2) solid #ccc;
    z-index: -1;
  }
}

/**
 * Reply triangular points-out arrow
 */
@mixin rtriangle {
  $triangle-width: em(24);
  $offset: -$triangle-width / 2 - em(1);

  &:before {
    content: "";
    position: absolute;
    left: $triangle-width;
    width: $triangle-width;
    height: $triangle-width;
    border: $brand-border;
    border-right: none;
    border-bottom: none;
    @include transform(rotate(45deg));
  }

  &:before {
    top: $offset;
    background: #fff;
  }

  /* &:after {
     bottom: $offset;
    background: $background;
  }

  &:last-child:after {
    display: none;
  } */
}