/*------------------------------------*\
  $OBJECT
\*------------------------------------*/


/**
 * $MEDIA
 * Place an image and text-like content side-by-side.
 * http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */
.media {
  @extend .islet;

  .avatar {
    @extend .media__img;
  }
}

.block-list > .media {
  @extend .flush--bottom;
}


/**
 * $CARD
 */
.card {
  @extend .cf;
  @extend .push--bottom;
  position: relative;
  background: #fff;
  box-shadow: 0 em(1) em(3) rgba(#000, 0.2);
  @include border-radius;
}

.card__header {
  @extend .islet;
  @extend .flush;
  border-bottom: em(1) solid #eaeaea;
}
