/*------------------------------------*\
  $OBJECT
\*------------------------------------*/


/**
 * Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
 */
.nav {
  list-style: none;
  margin-left: 0;
  @extend .cf;

  > li {

    &,
    > a {
      display: inline-block;
      *display: inline;
      zoom: 1;
    }
  }
}


/**
 * $MEDIA
 * Place an image and text-like content side-by-side.
 * http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */
.media {
  @extend .islet;

  .avatar {
    @extend .media__img;
  }
}

.block-list > .media {
  @extend .flush--bottom;
}


/**
 * $CARD
 */
.card {
  @extend .cf;
  @extend .push--bottom;
  position: relative;
  background: #fff;
  box-shadow: 0 em(1) em(3) rgba(#000, 0.2);
  @include border-radius;
}

.card__header {
  @extend .flush;
  border-bottom: em(1) solid #eaeaea;
}
