/**
 * Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
 */
.nav {
  list-style: none;
  margin-left: 0;
  @extend .cf;

  > li {

    &,
    > a {
      display: inline-block;
      *display: inline;
      zoom: 1;
    }
  }
}


/* 
 * $MEDIA
 * Place an image and text-like content side-by-side.
 * http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */
.media {
  @extend .islet;

  .avatar {
    @extend .media__img;
  }
}


/*
 * $CARD
 */
.card {
  position: relative;
  background: #fff;
  box-shadow: 0 em(1) em(3) rgba(#000, 0.2),
              0 em(1) 0 rgba(#fff, 0.9) inset;
  @include border-radius;
}
