/**
 * Typography
 */
$base-font-size:    16px!default;
$base-line-height:  1.5rem!default;

$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;

$base-face:         "Ubuntu Light", "HelveticaNeue-Light", "Helvetica Neue Light", $helvetica;
$header-face:       Ubuntu, $helvetica;

/**
 * Background
*/
$background: #f0f0f0 url(/assets/bg.gif) repeat;

/**
 * Color
 */
$base-color:        #4C4C4C;
$brand-color:       #D95C5C;
$blue:              #6ECFF5;

/**
 * Default border
 */
$brand-border:      em(1) solid #eaeaea;

/**
 * Default border-radius
 */
$brand-round:       4px!default;

