/*------------------------------------*\
  $NAV
\*------------------------------------*/


.site-nav {
  height: 3rem;
  line-height: 3rem;
  margin-bottom: $base-spacing-unit;
  background: #fff;
  box-shadow: 0 1px 4px rgba(#000, 0.2);

  .avatar {
    vertical-align: middle;

    img {
      @include border-radius(3rem);
    }
  }

  li {
    margin-right: $base-spacing-unit;
    position: relative;

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-nav > li a {
  padding: 0 $half-spacing-unit;

  &.active:after, &:not(.logo):hover:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0px;
    border-bottom: 5px solid $brand-color;
  }
}

.logo {
  font-size: 1.2rem;
  color: #fff;
  background-color: $brand-color;

  &:hover {
    background-color: $brand-color;
  }
}

.notifier:after {
  content: attr(data-count);
  position: absolute;
  top: .6rem;
  right: 0;
  padding: .2em .4em;
  font-size: em(12);
  line-height: 1;
  background: $brand-color;
  color: #fff;
  border-radius: 3rem;
}

.notifier[data-count="0"] {
  display: none;
}
