header.main.menu {
  top: 0;
  height: 3rem;
  box-shadow: 0 1px 4px rgba(#000, 0.2);

  .logo {
    font-size: 1.2rem;
    color: #fff;
    background-color: $brand-color;

    &:hover {
      background-color: $brand-color;
    }
  }

  .item {
    padding: 0 1rem;
    line-height: 3rem;
  }

  .dropdown .item {
    line-height: 1;
  }
}