/*------------------------------------*\
  $NOTIFICATION
\*------------------------------------*/

.notification {
  position: relative;
  @include show-on-hover;
}

.notification__title a {
  @extend .epsilon;
}

.notification__body {
  background: $highlight;
}

.notification__delete-icon {
  position: absolute;
  top: 0;
  right: 0;
}
