/**
 * $REPLY
 */
.replies {
  counter-reset: replies-counter;
  @include verticle-line;
}

.reply-item {
  position: relative;
  @include rtriangle;

  &:after {
    content: counter(replies-counter);
    counter-increment: replies-counter;
    position: absolute;
    right: 1rem;
    bottom: .25rem;
    font: italic 3rem/3rem $helvetica;
    color: rgba(#000, .1)
  }

  &:last-child {
    border-bottom: none;
  }

  &:hover .reply__time {
    opacity: 1;
  }
}

.reply__meta {
  float: right;

  .icon {
    margin-left: em(5);
  }
}

.reply__time {
  opacity: 0;
  @include transition (opacity 0.3s ease-in-out);
}

.reply--form {
  @include rtriangle;
}
