/*------------------------------------*\
  $REPLY
\*------------------------------------*/


.replies {
  counter-reset: replies-counter;
  @include verticle-line;
}

.reply-item {
  position: relative;
  min-height: 5.25rem;
  @include rtriangle;
  @include show-on-hover;

  &:after {
    content: counter(replies-counter);
    counter-increment: replies-counter;
    position: absolute;
    right: 1rem;
    bottom: .25rem;
    font: italic 3rem/3rem $helvetica;
    color: rgba(#000, .1)
  }

  &:target,
  &:target:before {
    @include vendor(animation, yellow-fade 3s linear);
  }

  &:last-child {
    border-bottom: none;
  }
}

@include keyframe(yellow-fade) {
  0%   { background-color: $highlight; }
  100% { background-color: white; }
}

.reply__meta .meta-item {
  @extend .show-on-hover;
}

.reply--form {
  @include rtriangle;
}

.reply__likes {
  color: #999;
  font-size: em(12);
  margin-left: .5rem;

  &:after {
    content: attr(data-count);
  }

  &[data-count="0"] {
    display: none;
  }
}
