/*------------------------------------*\
  $SHAME
\*------------------------------------*/


/**
 * Semantic popup fix.
 *
 * Bourbon neat will apply `box-sizing: border-box;` on all elements.
 * This breaks width of semantic popup.
 */
.ui.popup { 
  @include box-sizing(content-box); 
}


/**
 * Semantic icon default opacity is 0.75, it looks not nice in the button
 */
.btn > i.icon {
  opacity: 1;
}


/**
 * Oh, hell, HTML is sensitive with carriage retrun within tags?
 */
.breadcrumb > li + li:before {
  content: "\00A0" "\00BB" "\00A0";
}


/**
 * gist should be embedded in an iframe
 */
.gist {
  a {
    color: inherit;

    &:hover,
    &:active {
      color: inherit;
      background: inherit;
    }
  }

  table {
    @extend .zeta;
    margin: 0;
  }
}
