/*------------------------------------*\
  $TOPIC
\*------------------------------------*/


.topic {
  @include verticle-line;
}

.topic__header {
  border-bottom: em(1) solid #eaeaea;
}

.topic__footer {

  .liked {
    color: #ff7e94!important;
  }

  .icon {
    cursor: pointer;
    color: #999;

    &:hover {
      color: inherit;
    }
  }
}

.topic__node {
  @extend .zeta;
  display: inline-block;
  float: right;
  position: relative;
  left: $half-spacing-unit;
  padding: 0 $half-spacing-unit;
  color: #fff;
  background-color: $brand-color;
  @include border-left-radius;
}

