/*------------------------------------*\
  $TOPIC
\*------------------------------------*/


.topic {
  @include verticle-line;
}

.topic__likes:before {
  content: attr(data-count) "\00A0";
}

.topic__footer {
  a {
    color: #999;

    &:hover {
      color: inherit;
    }
  }

  .icon-heart { color: #ff7e94!important; }
  .icon-bookmark { color: #000!important; }

}

.topic__node {
  @extend .zeta;
  display: inline-block;
  float: right;
  position: relative;
  left: $half-spacing-unit;
  padding: 0 $half-spacing-unit;
  color: #fff;
  background-color: $brand-color;
  @include border-left-radius($brand-round);
}
