/**
 * Typography
 */
$base-font-size:    16px!default;
$base-line-height:  1.5rem!default;

$base-face:         "Ubuntu Light", "HelveticaNeue-Light", "Helvetica Neue Light", $helvetica;
$header-face:       Ubuntu, $helvetica;

/**
 * Color
 */
$base-color:        #4C4C4C;
$brand-color:       #D95C5C;

/**
 * Default border-radius
 */
$brand-round:       4px!default;