@import "bootstrap";

// Mixin
@mixin box-shadow($top: 0px, $right: 2px, $bottom: 5px, $left: 0px){
  -webkit-box-shadow: $top $right $bottom rgba(0, 0, 0, 0.15);
  -moz-box-shadow: $top $right $bottom rgba(0, 0, 0, 0.15);
  box-shadow: $top $right $bottom rgba(0, 0, 0, 0.15);
}

@mixin radius($size: 3px){
  -webkit-border-radius: first-value-of($size) first-value-of($size);
  -moz-border-radius: #{$size} / #{$size};
  border-radius: #{$size} / #{$size};
}

// Helper
.mt20 {
  margin-top: 20px;
}

// Global
body {
  padding-top: $navbarHeight;
  background: #e3e3e3;
  background: transparent url("/assets/background.png") repeat scroll 0 0;
}

// Header
header{
  .name{
    font-weight:bold;

    img{
      margin-right:5px;
    }
  }
}

// Body
.container-box {
  background: #fff;
  list-style-position: inside;
  padding: 10px;
  @include radius;
  @include box-shadow;
  border-bottom: 2px solid rgba(150, 150, 150, 0.6);

  .ui-header .title {
    display: block;
    border-bottom: 1px solid #eeeeee;
    padding: 0 0 8px;
    margin: 0 0 -1px 0;
  }

  a {
    color: #999;
  }
}
