body {
  padding-top: $navbarHeight;
  background: #e3e3e3;
  background: transparent url("/assets/background.png") repeat scroll 0 0;
}

a, h3 {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.container-box {
  @include radius(3px, 3px);
  @include box-shadow(0px, 2px, 5px, 0px, rgba(0, 0, 0, 0.15));

  background: #fff;
  border: 1px solid rgba(150, 150, 150, 0.6);

  margin-top: 20px;

  .content{
    padding: 10px;
  }

  a {
    color: #666;
  }
}

span.time {
  margin-right: 10px;
  font-size: 12px;
}

p.mb0{
  margin-bottom: 0px;
}

p.indent{
  text-indent: 2em;
}

.header{
  @include header-style;
}

.footer{
  @include footer-style;
}