@mixin box-shadow($top, $right, $bottom, $left, $color) {
  -webkit-box-shadow: $top $right $bottom $left $color;
  -moz-box-shadow: $top $right $bottom $left $color;
  box-shadow: $top $right $bottom $left $color;
}

@mixin radius($top, $bottom) {
  -webkit-border-radius: $top $top $bottom $bottom;
  -moz-border-radius: $top $top $bottom $bottom;
  border-radius: $top $top $bottom $bottom;
}

@mixin item-style{
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
  margin-left: 0px;
}

@mixin header-style{
  background: #f5f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(whitesmoke));
  background-image: -webkit-linear-gradient(top, white, whitesmoke);
  background-image: -moz-linear-gradient(top, white, whitesmoke);
  background-image: -o-linear-gradient(top, white, whitesmoke);
  background-image: linear-gradient(to bottom, white, whitesmoke);

  padding: 10px;

  border-bottom: 1px solid #eeeeee;
}