#notification-header {
  @include header-background;

  span{
    line-height:26px;
  }

  a {
    color: $red;
    font-weight: bold;
  }
}

.notification-item{
  @include item-style;

  .title {
    color: $linkColor;
  }
}

.notification-item:hover{
  .hide{
    display: block;
  }
}

.name {
  font-weight: bold;

  img {
    margin-bottom: 10px;
  }
}