#self-info {
  img {
    position:relative;
    top: 10px;
  }

  p {
    margin: 0px;
  }

  .span10{
    margin-left: -20px;
  }

  h3 {
    margin: 0px;
  }
}

#self-replies{
  img {
    margin-right: 5px;
  }

  span.muted {
    margin-left: 20px;
    margin-right: 10px;
  }
}