.topic-item {
  @include item-style;

  .count {
    background: #bbb;
    @include radius(8px, 8px);
    text-align: center;
  }
}

#topic-detail {
  margin-bottom: 20px;

  h3 {
    width: 90%;
  }
}

#replies-header, #topic-header {
  @include header-background;
}

.topic-header {
  h3 {
    margin: 0px;
  }
}

.topic-content {
  padding-top: 20px;
}

.topic-footer {
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
  padding: 0 10px 0 10px;

  ul {
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
  }
}

#replies-header {
  padding:0 10px 0 10px;
}

.reply-item {
  @include item-style;
  padding-bottom: 0px;

  .span10{
    a:not(.name) {
      color: $linkColor;
    }
  }
}

.span1 {
  img {
    position: relative;
    top: 6px;
  }
}

div.pagination {
  li:first-child {
    display: none;
  }

  li:last-child {
    display: none;
  }
}

#no-reply {
  background: transparent;
  border: 2px dashed rgba(0, 0, 0, 0.1);
  height: 30px;
}

#reply {
  a {
    color: $linkColor;
    font-size: 16px;
  }
}

#new_reply, #new_topic {
  margin: 0;
}