.topic-item {
  @include item-style;

  .count {
    @include radius(8px, 8px);

    background: #bbb;
    text-align: center;
  }
}

#topic-detail {
  h3 {
    width: 90%;
  }
}

.topic-header {
  h3 {
    margin: 0px;
  }
}

#topic-content {
  padding-top: 20px;
}

.topic-footer {
<<<<<<< HEAD
  padding: 0 10px 0 10px;
=======
  @include footer-style;
>>>>>>> Finish profile page beta

  ul {
    margin-bottom: 0;
  }
}

<<<<<<< HEAD
#replies-header{
  padding: 3px 10px 3px 10px;
}

=======
>>>>>>> Finish profile page beta
.reply-item {
  @include item-style;

  padding-bottom: 0px;

  .span10{
    a:not(.name) {
      color: $linkColor;
    }
  }
}

.span1 {
  img {
    position: relative;
    top: 6px;
  }
}

div.pagination {
  li:first-child {
    display: none;
  }

  li:last-child {
    display: none;
  }
}

<<<<<<< HEAD
=======
#no-reply {
  margin-top: 20px;
  background: transparent;
  border: 2px dashed rgba(0, 0, 0, 0.1);
  height: 30px;
}

>>>>>>> Finish profile page beta
#reply {
  a {
    font-size: 16px;
  }
}

#node-bar{
  a{
    font-weight: bold;
  }
}