ul.inline#share.span4 data-title= @topic.title
  li = link_to font_icon('twitter'), "#", class: 'share', "data-site" => "twitter"
  li = link_to font_icon('weibo'), "#", class: 'share', "data-site" => "weibo"
